
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*
{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body
{
	background: #f1f1f1;
	font-family: 'Karla', sans-serif;
}

.grid-container
{
	width: 45%;
	height: 460px;
    margin: auto;
	position: relative;
	top: 106px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	-webkit-box-shadow: 10px 10px 40px -19px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 40px -19px rgba(0,0,0,0.75);
   box-shadow: 10px 10px 40px -19px rgba(0,0,0,0.75);
   border-radius: 10px;
}




/* Community Container */
.community-container
{
  background: #fff;
	grid-column: 1/3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 35px;
	height: 210px;


}
.community-container h1
{
 color: hsl(179, 62%, 43%);
 font-size: 22px;
}

.community-container #par1
{
	color: hsl(71, 73%, 54%);
	padding: 15px 0;
	font-size: 16px;
	font-weight: bold;
}


.community-container .par2
{
	color:hsl(218, 22%, 67%);
	font-size:15px;
	line-height: 1.8;
}

/* Subscription Container */
.subscription-container
{
background: hsl(179, 62%, 43%);
border-bottom-left-radius: 10px;
height:250px;
padding: 35px;
color: #fff;

}
.subscription-container p
{
	letter-spacing: 0.5px;
	padding-bottom: 15px;
}

.subscription-container h1
{

font-size: 29px;
opacity: 0.9;
}

.subscription-container h1 span
{
	font-size: 15px;
	position: relative;
	bottom:5px;
	left: 5px;
	opacity:.4;
}

.subscription-container .par2
{
	font-size: 14px;
	opacity:0.9;
	letter-spacing: 0;
	padding-top: 10px;
}


.subscription-container .link
{
	text-decoration: none;
	color: #fff;
	padding: 14px 83px;
	background: hsl(71, 73%, 54%);
	border-radius: 5px;
	position: relative;
	top: 27px;
}

/* whyus-container*/
.whyus-container
{
	background: hsl(179, 62%, 47%);
	border-bottom-right-radius: 10px;
   height: 250px;
	 color: #fff;
 	padding: 35px;
}

.whyus-container h1
{
	font-size: 18px;
	opacity: 0.9;
	padding-bottom: 10px;
}
/* whyus container*/
.whyus-container p
{
	font-size: 14px;
	opacity: 0.6;
  line-height:1.5;
}

footer
{

  position: relative;
  top: 8em;
  bottom:0;
  text-align: center;
  height: 3vh;
  width: 100%;

}

/* Mobile Design width: 375px */
@media screen and (max-width: 600px)
{
	.grid-container
	{
		display: grid;
		grid-template-columns: 1fr;
		width: 100%;
		position: relative;
		top:0;
	}

	.community-container
	{
		width: 100%;
		height: auto;
  }

	.subscription-container
	{
		 grid-column: 1/3;
	     border-radius: 0;
	}

	.subscription-container .link
	{
		padding: 14px 120px;
		-webkit-box-shadow: 10px 10px 54px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 54px -16px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 54px -16px rgba(0,0,0,0.75);
  }
	footer
	{
		position: relative;
		top: 20em;
		bottom: 0;
		width: 100%;
		height: 10px;

	}
	footer a
	{
		color:hsl(179, 62%, 43%);
	}
}
